html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 10px;
  color: white;
  background: #7a7480;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #474150), color-stop(100%, #7a7480));
  background-image: -webkit-linear-gradient(top, #474150, #7a7480);
  background-image: -moz-linear-gradient(top, #474150, #7a7480);
  background-image: -o-linear-gradient(top, #474150, #7a7480);
  background-image: linear-gradient(top, #474150, #7a7480);
  background-repeat: no-repeat;
  font-family: avenir, sans-serif;
  font-size: 14px;
}

.autotabbed-container {
  max-width: 680px;
  margin: 0 auto;
}

.autotabbed {
  width: 300px;
  float: left;
  margin: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.3em;
  text-align: center;
}
.autotabbed h3, .autotabbed input {
  margin: 0 0 10px;
  font-size: 1em;
}

.popover {
  position: absolute;
  max-width: 150px;
  padding: 10px;
  color: #474150;
  background: #fafafa;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 1px 1px 3px black;
  opacity: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.popover.on {
  opacity: 1;
}
.popover:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #fafafa;
  border-bottom: 10px solid transparent;
}

#autotab-toggle {
  display: block;
  width: 180px;
  margin: 10px auto;
  padding: 5px 10px;
  color: red;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 100px;
  text-align: center;
}
#autotab-toggle .on {
  display: none;
}
#autotab-toggle .off {
  display: inline;
}
#autotab-toggle.on {
  color: #00cc00;
  background: rgba(0, 255, 0, 0.1);
  border-color: #009900;
}
#autotab-toggle.on .on {
  display: inline;
}
#autotab-toggle.on .off {
  display: none;
}

.explain {
  max-width: 800px;
  margin: 20px auto;
}

.clear {
  height: 0;
  overflow: hidden;
  clear: both;
}
